.btn {
  position: relative;
  display: var(--display, inline-flex);
  gap: 0.375em;
  justify-content: center;
  align-items: center;
  padding: 0.175em 0.75em;
  color: white;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: var(--shared-radius);
  font-weight: 600;
}

.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:focus-visible,
.icon-button:focus-visible {
  outline: 2px dashed var(--shared-color-3);
  outline-offset: 2px;
}

.btn:hover:not(.btn__link) {
  background-color: var(--shared-color-0);
}

.btn.btn__outline:hover {
  box-shadow: inset 0 0 0 1px;
}

.btn.btn__link:hover {
  text-decoration: underline;
}

.btn.btn__contained:hover {
  background-color: var(--shared-color-7);
}

.btn:disabled {
  color: var(--color-background-2);
  border-color: var(--color-background-9);
  background-color: var(--color-background-9);
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
}

/* Button Size Section Style Start */

.btn__xs {
  font-size: 0.75rem;
}

.btn__sm {
  font-size: 0.875rem;
}

.btn__md {
  font-size: 1rem;
}

.btn__lg {
  font-size: 1.125rem;
}

.btn__xl {
  font-size: 1.25rem;
}

/* Button Size Section Style End */

/* Button Variant Section Style Start */

.btn__contained {
  background-color: var(--shared-color-6);
}

.btn__outline {
  color: var(--shared-color-6);
  border-color: var(--shared-color-6);
}

.btn__text {
  color: var(--shared-color-7);
}

.btn__link {
  color: var(--shared-color-7);
}

/* Button Variant Section Style End */

/* Button isFluid Section Style Start */

.btn__fluid {
  --display: flex;

  width: 100%;
  padding: 0.375em 0.75em;
}

/* Button isFluid Section Style End */

/* Button Variant Section Style Start */

.btn__full {
  --radius: 10000px;
}

.btn__circle {
  --radius: 50%;
}

.btn__small {
  --radius: 0.25em;
}

.btn_sharp {
  --radius: 0;
}

/* Button Variant Section Style End */

.btn--icon-wrapper {
  line-height: 0;
}

.btn--icon-wrapper svg {
  stroke-width: 2;
}

.btn__container-loading {
  position: absolute;
  inset: 0;
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.125rem;
  padding: inherit;
  font-size: 0.875em;
  border-radius: inherit;
  background-color: var(--color-background-9);
}

.icon-button {
  --circle-size: 2rem;
}

.margin-end {
  margin-inline-start: auto;
}

// ICON BUTTON STYLE
.icon-button svg {
  width: max(0.5em, 1.25rem);
}

.icon-button--sm {
  --circe-size: 2rem;
}

.icon-button--md {
  --circe-size: 2.5rem;
}

.icon-button--lg {
  --circe-size: 3rem;
}

.icon-button:hover,
.icon-button:focus-visible {
  background-color: rgba(0 0 0 / 10%);
}

.icon-button:focus-visible {
  outline: 2px solid;
}
