{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["prettier"],
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
