//  Color  Variables
:root {
  // Secondary Color
  --color-background-0: hsl(0deg 0% 97%);
  --color-background-1: hsl(0deg 0% 90%);
  --color-background-2: hsl(0deg 0% 80%);
  --color-background-3: hsl(0deg 0% 70%);
  --color-background-4: hsl(0deg 0% 60%);
  --color-background-5: hsl(0deg 0% 50%);
  --color-background-6: hsl(0deg 0% 40%);
  --color-background-7: hsl(0deg 0% 30%);
  --color-background-8: hsl(0deg 0% 20%);
  --color-background-9: hsl(0deg 0% 10%);
  --color-background-10: hsl(0deg 0% 3%);

  // Primary Color
  --color-primary-0: hsl(0 0% 90%);
  --color-primary-1: hsl(0 0% 80%);
  --color-primary-2: hsl(0 0% 70%);
  --color-primary-3: hsl(0 0% 55%);
  --color-primary-4: hsl(0 0% 45%);
  --color-primary-5: hsl(0 0% 35%);
  --color-primary-6: hsl(0 0% 25%);
  --color-primary-7: hsl(0 0% 15%);
  --color-primary-8: hsl(0 0% 10%);
  --color-primary-9: hsl(0 0% 5%);
  --color-primary-10: hsl(0 0% 2%);

  // Text Color
  --color-text-0: hsl(0deg 0% 3%);
  --color-text-1: hsl(0deg 0% 10%);
  --color-text-2: hsl(0deg 0% 20%);
  --color-text-3: hsl(0deg 0% 30%);
  --color-text-4: hsl(0deg 0% 40%);
  --color-text-5: hsl(0deg 0% 50%);
  --color-text-6: hsl(0deg 0% 60%);
  --color-text-7: hsl(0deg 0% 70%);
  --color-text-8: hsl(0deg 0% 80%);
  --color-text-9: hsl(0deg 0% 90%);
  --color-text-10: hsl(0deg 0% 97%);

  // Primary Color

  --color-primary-0: hsl(194 30% 90%);
  --color-primary-1: hsl(195 90% 80%);
  --color-primary-2: hsl(196 100% 70%);
  --color-primary-3: hsl(197 100% 60%);
  --color-primary-4: hsl(198 100% 50%);
  --color-primary-5: hsl(199 100% 45%);
  --color-primary-6: hsl(200, 100%, 40%);
  --color-primary-7: hsl(201, 100%, 35%);
  --color-primary-8: hsl(202, 100%, 30%);
  --color-primary-9: hsl(204, 100%, 25%);
  --color-primary-10: hsl(205, 100%, 20%);

  // Danger Color
  --color-danger-0: hsl(0deg 30% 90%);
  --color-danger-1: hsl(0deg 90% 80%);
  --color-danger-2: hsl(0deg 95% 70%);
  --color-danger-3: hsl(0deg 95% 60%);
  --color-danger-4: hsl(0deg 95% 50%);
  --color-danger-5: hsl(0deg 95% 45%);
  --color-danger-6: hsl(0deg 95% 40%);
  --color-danger-7: hsl(0deg 95% 35%);
  --color-danger-8: hsl(0deg 95% 30%);
  --color-danger-9: hsl(0deg 95% 25%);
  --color-danger-10: hsl(0deg 95% 20%);

  // Warning Color
  --color-warning-0: hsl(15 30% 90%);
  --color-warning-1: hsl(15 90% 80%);
  --color-warning-2: hsl(15 95% 70%);
  --color-warning-3: hsl(15 95% 60%);
  --color-warning-4: hsl(15 95% 50%);
  --color-warning-5: hsl(15 95% 45%);
  --color-warning-6: hsl(15 95% 40%);
  --color-warning-7: hsl(15 95% 35%);
  --color-warning-8: hsl(15 95% 30%);
  --color-warning-9: hsl(15 95% 25%);
  --color-warning-10: hsl(15 95% 20%);

  // Success Color
  --color-success-0: hsl(135 30% 90%);
  --color-success-1: hsl(135 90% 80%);
  --color-success-2: hsl(135 95% 70%);
  --color-success-3: hsl(135 95% 60%);
  --color-success-4: hsl(135 95% 50%);
  --color-success-5: hsl(135 95% 45%);
  --color-success-6: hsl(135 95% 40%);
  --color-success-7: hsl(135 95% 35%);
  --color-success-8: hsl(135 95% 30%);
  --color-success-9: hsl(135 95% 25%);
  --color-success-10: hsl(135 95% 20%);
}
