// Justify Content Section Style Start

.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-center {
  justify-content: center;
}
// Justify Content Section Style End

// Align Item Section Style Start
.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-baseline {
  justify-items: baseline;
}
.justify-items-stretch {
  justify-items: stretch;
}

// Align Item Section Style End

// Align Item Section Style Start
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

// Align Item Section Style End

// Align Content Section Style Start

.content-end {
  align-content: end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

// Align Content Section Style End
