.u_primary {
  --shared-color-0: var(--color-primary-0);
  --shared-color-1: var(--color-primary-1);
  --shared-color-2: var(--color-primary-2);
  --shared-color-3: var(--color-primary-3);
  --shared-color-4: var(--color-primary-4);
  --shared-color-5: var(--color-primary-5);
  --shared-color-6: var(--color-primary-6);
  --shared-color-7: var(--color-primary-7);
  --shared-color-8: var(--color-primary-8);
  --shared-color-9: var(--color-primary-9);
  --shared-color-10: var(--color-primary-10);
}

.u_secondary {
  --shared-color-0: var(--color-text -0);
  --shared-color-1: var(--color-text-1);
  --shared-color-2: var(--color-text-2);
  --shared-color-3: var(--color-text-3);
  --shared-color-4: var(--color-text-4);
  --shared-color-5: var(--color-text-5);
  --shared-color-6: var(--color-text-6);
  --shared-color-7: var(--color-text-7);
  --shared-color-8: var(--color-text-8);
  --shared-color-9: var(--color-text-9);
  --shared-color-10: var(--color-text-10);
}

.u_danger {
  --shared-color-0: var(--color-danger -0);
  --shared-color-1: var(--color-danger-1);
  --shared-color-2: var(--color-danger-2);
  --shared-color-3: var(--color-danger-3);
  --shared-color-4: var(--color-danger-4);
  --shared-color-5: var(--color-danger-5);
  --shared-color-6: var(--color-danger-6);
  --shared-color-7: var(--color-danger-7);
  --shared-color-8: var(--color-danger-8);
  --shared-color-9: var(--color-danger-9);
  --shared-color-10: var(--color-danger-10);
}

.u_success {
  --shared-color-0: var(--color-success-0);
  --shared-color-1: var(--color-success-1);
  --shared-color-2: var(--color-success-2);
  --shared-color-3: var(--color-success-3);
  --shared-color-4: var(--color-success-4);
  --shared-color-5: var(--color-success-5);
  --shared-color-6: var(--color-success-6);
  --shared-color-7: var(--color-success-7);
  --shared-color-8: var(--color-success-8);
  --shared-color-9: var(--color-success-9);
  --shared-color-10: var(--color-success-10);
}

.u_warning {
  --shared-color-0: var(--color-warning -0);
  --shared-color-1: var(--color-warning-1);
  --shared-color-2: var(--color-warning-2);
  --shared-color-3: var(--color-warning-3);
  --shared-color-4: var(--color-warning-4);
  --shared-color-5: var(--color-warning-5);
  --shared-color-6: var(--color-warning-6);
  --shared-color-7: var(--color-warning-7);
  --shared-color-8: var(--color-warning-8);
  --shared-color-9: var(--color-warning-9);
  --shared-color-10: var(--color-warning-10);
}

.u_background {
  --shared-color-0: var(--color-background-0);
  --shared-color-1: var(--color-background-1);
  --shared-color-2: var(--color-background-2);
  --shared-color-3: var(--color-background-3);
  --shared-color-4: var(--color-background-4);
  --shared-color-5: var(--color-background-5);
  --shared-color-6: var(--color-background-6);
  --shared-color-7: var(--color-background-7);
  --shared-color-8: var(--color-background-8);
  --shared-color-9: var(--color-background-9);
  --shared-color-10: var(--color-background-10);
}

.u_info {
  --shared-color-0: var(--color-info-0);
  --shared-color-1: var(--color-info-1);
  --shared-color-2: var(--color-info-2);
  --shared-color-3: var(--color-info-3);
  --shared-color-4: var(--color-info-4);
  --shared-color-5: var(--color-info-5);
  --shared-color-6: var(--color-info-6);
  --shared-color-7: var(--color-info-7);
  --shared-color-8: var(--color-info-8);
  --shared-color-9: var(--color-info-9);
  --shared-color-10: var(--color-info-10);
}
