.u_radius__sharp {
  border-radius: 0;
}

.u_radius__sm {
  border-radius: 0.25rem;
}

.u_radius__md {
  border-radius: 0.5rem;
}

.u_radius__lg {
  border-radius: 1.5rem;
}

.u_radius__circle {
  border-radius: 50%;
}

.u_radius__full {
  border-radius: 100rem;
}
