.u_transform__uppercase {
  text-transform: uppercase;
}

.u_transform__lowercase {
  text-transform: lowercase;
}

.u_transform__capitalize {
  text-transform: capitalize;
}

/*
    Align Text Style Section
*/

.u_align__center {
  text-align: center;
}

.u_align__end {
  text-align: end;
}

.u_align__start {
  text-align: start;
}

.u_align__justify {
  text-align: justify;
}
