@media (max-width: 860px) {
  .md-hide {
    display: none;
  }

  .md-show {
    display: inherit;
  }
}
@media (max-width: 660px) {
  .sm-hide {
    display: none;
  }

  .sm-show {
    display: none;
  }
}

@media (max-width: 480px) {
  .xs-hide {
    display: none;
  }

  .xs-show {
    display: none;
  }
}
